<aside class="sidebar" id="sidebar" aria-label="Thanh điều hướng chính" th:fragment="sidebar">
    <nav>
        <ul>
            <li><a th:href="@{/nhanvien/trangchu}"><span class="material-icons">home</span> <span th:text="'Trang chủ'"></span></a></li>
            <li><a th:href="@{/nhanvien/quanlydatphong}"><span class="material-icons">meeting_room</span> <span th:text="'Quản lý đặt phòng'"></span></a></li>
            <li><a th:href="@{/nhanvien/quanlyphong}"><span class="material-icons">people</span> <span th:text="'Quản lý phòng'"></span></a></li>
            <li><a th:href="@{/nhanvien/dichvu}"><span class="material-icons">cleaning_services</span> <span th:text="'Dịch vụ'"></span></a></li>
            <li><a th:href="@{/nhanvien/thanhtoan}"><span class="material-icons">payments</span> <span th:text="'Thanh toán'"></span></a></li>
            <li><a th:href="@{/nhanvien/quanlykho}"><span class="material-icons">inventory</span> <span th:text="'Quản lý kho'"></span></a></li>
            <li><a th:href="@{/nhanvien/thongtinkhachhang}"><span class="material-icons">person</span> <span th:text="'Thông tin khách hàng'"></span></a></li>
            <li><a th:href="@{/logout}"><span class="material-icons">logout</span> <span th:text="'Đăng xuất'"></span></a></li>
        </ul>
    </nav>
</aside>